body {
    font-family: arial;
	font-size: 16px;
	background-image: url("images/bg.jpg");
	margin: 3% 4%;
}
.linea {
    margin-bottom: 20px;
}
div.linea > label:first-child {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}
div.linea textarea {
    font-family: arial;
    padding: 4px;
    width: 300px;
    height: 100px;
}
#parametros {
	width: 18%;
	float: left;
}
#izquierda1{
	float: left;
	width: 50%;
}
#derecha1{
	float: right;
	width: 50%;
}
.clear{
	clear: both;
}
